
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
  background-color: light;
}

.navber-header {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.34);
     
}
.header-barnd{
    width: 220px;
    height: 50px;
    
    
}


.languase a{
  text-decoration: none;
  color: rgb(24, 22, 22);
  font-weight: bold;
  opacity: 0.5;
  padding: 5px 15px;
border-left: 1px solid rgb(36, 34, 34) ;


}
.ling-button a{
    text-decoration: none;
    color: black;
    font-weight: bold;padding: 5px 15px;
}
.ling-button{
    border-left: 1px solid rgb(107, 97, 97);
    
}
.boy-product i{
    width: 60px;
   padding: 5px 10px;
   font-size: 28px;
   color: hsl(342, 97%, 46%);
    border-left:  1px solid rgb(145, 125, 125);
    
    
}

@media screen and (max-width: 900px) {
    .header-barnd{
        width: 200px;
        height: 40px;
        display: flex;
        text-align: center;
    }

   .ling-button{
    text-decoration: none;
    color: black;
    font-weight: bold;padding: 5px 15px;
    display: flex;
    text-align: left;
   } 
  }
.header-banner{
  background: url(./img/hero-home-bd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 80vh;
}
  /* headrer banner */

  .form-header button{
    width: 200px;
    background-color: hsl(332, 93%, 40%);
    margin: 2px;
    padding: 15px ;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 25px;


 
  }

  .form-header input { 
    max-width: 600px;
    
    padding: 15px;
    font-size: 25px;
    color: rgb(55, 61, 66);
    border-radius: 20px;
    outline: none;
    margin: 2px ;
    border: none;
    border: 1px solid rgb(56, 52, 52);}
  

  @media screen and ( max-width:600px) {
    .form-header input {
       max-width: 300px;
    
    padding: 10px;
    font-size: 25px;
    color: rgb(55, 61, 66);
    border-radius: 20px;
    outline: none;
    margin: 2px ;
    border: none;
    border: 1px solid rgb(56, 52, 52);
   
  }

  .header-text  h1{
    color: rgb(80, 65, 65);
    letter-spacing: 2px;
    font-size: 35px;
    margin: 50px 0;
    
  }

  .form-header button{
    width: 300px;
    background-color: hsl(332, 93%, 40%);
    margin: 2px;
    padding: 10px ;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 25px;


 
  }

  
}

  
  
  
  .header-text  h1{
    color: rgb(80, 65, 65);
    letter-spacing: 2px;
    font-size: 48px;
    margin: 50px 0;
    
  }

  /* about section */

  .about-h1{
    font-size: 40px;
    opacity: 0.8;
    font-weight: 300;
    margin:15px 0 ;
    
  }
  .about-img{
  
   position:relative;
   width: 100%;
   left: 0;
   height: 80vh;
   right:0;

  }

  .about-text{
    position:relative;
   bottom: 280px;
   
  }

  .about-img img{
    width: 100%;
    height: 80vh;
    margin-top:10px ;

  }

  .abot-box{
    background-color: #fff;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px rgba(114, 100, 100, 0.34);
    max-width: 600px;
    padding: 20px;
  }
  .abot-box h1{
    font-size: 30px;
    font-weight: 350;
    opacity: 0.8;
    opacity: 0.5;
  }
  .abot-box h4{
    font-size: 22px;
    font-weight: 300;
    opacity: 0.8;

  }
  .about-button{
    background-color:#d10a4d ;
    color: white;
    border: none;
    outline: none;
     width: 250px;
    font-size: 25px;
     padding: 10px;
     border-radius: 15px;
     margin: 10px 0;


  }
  .about-button:hover{
   
    background-color: #d10a4d;
  }

  /* service section */
  


  .service-section{
    margin: 300px 0;
  }
  .row{
    padding: 10px;
  }
  .col{
   
   margin: 10px;
   box-sizing: border-box;
   overflow: hidden;

 
  }
  .service-img-box{
    height: 350px; 
    width: 100%;
    transition: 0.8s;
  }
  .service-img-box:hover{
    transform:  scale(1.1);
  }

  .box-text .col h1{
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  .box-text .col i{
    font-size: 60px;
    text-align: center;
    margin-left:  30px;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
   transition: 1s;
  }
  .box-text .col i:hover{
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
  }

  .service-text-h1{
    font-size: 38px;
    font-weight: 300;
    opacity: 0.8;
    
    margin: 10px 0;
  }
  

  /* banner section */
  
  
  @media screen and (min-width: 1050px) {
    .download-baner{
      background-color:#f53b57 ;
      width: 100%;
      height:50vh;
      display: flex;
         justify-content: center;
         align-items: center;
      
    }

    
  }
  
  .banner-img img{
    width: 700px;
    height: 100vh;
    
  }
  .banner-text{
    margin: 50px;
    color: white;
  }
  .banner-text h1{
    font-size: 33px;
    font-weight: 300;
  }
  .banner-text p{
    font-size: 20px;
    font-weight: 250;
  } 

  .play-button svg{
    margin:0 8px;
  }
 

  @media screen and (max-width: 1050px) {
    .download-baner{
      background-color:#f53b57 ;
      width: 100%;
      height: 100%;
    
      
    }
    .banner-text{
      margin: 40px;
      color: white;
    }

    .banner-img img{
      width: 400px;
      height: 80vh;
      
    }
  }
  .downlod-h1{
    font-size: 35px;
    font-weight: 300;
    opacity: 0.8;

  }
  

  /* offech tiem */
  .mymantion-ff{
    margin: 180px 8px;
  }
.offech-img{
  display: flex;
  position: relative;
  width: 100%;
  
}


  .header-text-box{
   position: relative;
    bottom: 200px;
    padding: 20px;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.34);
    width: 500px;

  }

  .header-text-box h1{
    font-size: 35px;
    font-weight: 350;

  }
  .header-text-box p{
    font-size: 25px;
    font-weight: 250;

  }
  
  .offech-button button{
    background-color: #fc058d;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 25px;
    color: white;
    border-radius: 15px;
    width: 250px;


  }
  @media screen  and ( max-width:950px){
    .offech-button button{
      background-color: #fc058d;
      padding: 12px;
      border: none;
      outline: none;
      font-size: 20px;
      color: white;
      border-radius: 15px;
      width: 150px;
  
  
    }
  }

 /* fotet section */
  .footer-1 h1{
  font-size: 35px;
  font-weight: 400;
  margin: 10px 0;

  }
  .footer-1 p{
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;

  }
  .footer-1 button{
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    text-align: start;
    transition: 0.5;
    

  }
  .footer-1 button:hover{
    background-color: rgb(201, 190, 190);
  }


  /* foooter 2 */
  .herclass{
    border: 1px solid rgb(180, 173, 173);
    margin: 10px 0;
  }
  .footer-icon-img svg{
    color: antiquewhite !important;
    opacity: 0.5;
    margin: 10px;
    padding: 10px;
  }
  .footer-icon-icon i{
    font-size: 35px;
     margin: 10px;
     opacity: 0.5;
     color: rgb(66, 73, 80);
     border: 1px solid white;
     padding: 8px;
     border-radius: 50%;
  }
  .footer-icon-icon i:hover{
    color: #ca408c;
    border: 1px solid #ca408c;

  }


  .footer-food p{
    font-size: 15px;

  }
  .footer-hefr{
    max-width: 500px;
  }
  .footer-hefr a{
    text-decoration: none;
    color: rgb(83, 81, 79);
    font-weight: 300;
    font-size: 18px;
   

  }
  .footer-hefr a:hover{
    color: #ca2f3c;
  }

  .lest-footer{
    text-align: center;
  }

  ul li{
    list-style: none;
    display: inline-block;
    margin: 15px 0;
  }
  ul li a{
    
    font-size: 14px;
    color: rgb(32, 36, 36);
    opacity: 0.8;
    font-weight: 300px;
    text-decoration: none;
    margin: 5px;
   
    padding: 8px;
    border-right: 1px solid  rgb(32, 36, 36);
  }
  .footer-harf{
    border-left:1px solid  rgb(32, 36, 36) ;
  }